<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar producto</button>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Herramienta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioHerramientas">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Precio</label>
            <input type="number" class="form-control" id="recipient-name" formControlName="precio">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción</label>
            <textarea class="form-control" id="message-text" formControlName="descripción"></textarea>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">U.R.L</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="url">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarHerramientas()">Editar</button>
      </div>
    </div>
  </div>
</div>
