<form class="container2">
    <div>
        <div class="mb-3">
            <div class="col-0">
                <label for="inputPassword6" class="col-form-label">Ingrese su nombre</label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"
                    style="width: 240px;">
            </div>
            <div class="col-auto">
    
                <div class="mb-3">
                    <div class="col-0" style="margin-left: 330px;">
                        <label for="inputPassword6" class="col-form-label">Ingrese su apellido</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-auto" style="margin-left: 330px;">
          <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" style="width: 240px;">
        </div>
        <div class="col-auto">


    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;">
        </div>
  </form>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ingrese contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" style="width: 240px;">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirme contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" style="width: 240px;">
      </div>

      <div class="mb-3">
        <div class="col-0">
          <label for="inputPassword6" class="col-form-label">Ingrese su nùmero</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" style="width: 240px;">
        </div>
        <br>
      <button type="submit" class="btn btn-primary">Crear</button>

</div>
    <form>
        <div style="display: flex;" class="container1">
            <div class="mb-3">
                </div>
            <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="margin-left: 100px;">Ingrese su nombre</label>
    <input type="text" class="form-control" id="exampleInputPassword1" style="width: 85%; margin-left: 100px; background-color: #e25233;">
</div>


<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="margin-left: 250px;">Ingrese su apellido</label>
        <input type="text" class="form-control" id="exampleInputPassword1" style="width: 56%; margin-left: 250px; background-color: #e25233;">
        </div>
     </div>
</form>

<label for="exampleInputEmail1" class="form-label" style="margin-left: 400px;">Ingrese su Gmail</label>
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-left: 200px; width: 525px; background-color: #e25233;">

<form>
    <div style="display: flex;" class="container2">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="margin-left: 100px;">Ingrese contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1"style="width: 85%; margin-left: 100px; background-color: #e25233;">
                    </div>
                    <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="margin-left: 250px;">Confirme contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" style="width: 56%; margin-left: 250px; background-color: #e25233;">
        </div>
    </div>
</form>

<div class="mb-3">
    <div class="col-0">
      <label for="inputPassword6" class="col-form-label" style="margin-left: 400px;">Ingrese su nùmero</label>
    </div>
    <div class="col-auto">
      <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" style="width: 240px;"style="margin-left: 350px; width: 350px; background-color: #e25233;">
    </div>
    </div>
    
<button type="submit" class="btn btn-primary">Crear</button>