<div class="row">
    <div class="col-4" style="background-color: #945F38;">
     <div class="card" style="width: 14rem; margin-left: 200px; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXAjy6lH0FaIP2qrFI9jXHtiM4wceAz9uKow&usqp=CAU" style="width: 10.76rem;">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Llave</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proximo encargo en: 2 dias</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div>
  </div>
  
    <div class="col-4" style="background-color: #945F38;">
    <div class="card" style="width: 14rem; margin-left: 100px; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrSf7SvfpVgq0dODKyyG_0y0zNlWl-1Eewbw&usqp=CAU">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Martillo</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proximo encargo en: Mañana</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div>
    </div>
  
  
    <div class="col-4" style="background-color: #945F38;">
    <div class="card" style="width: 14rem; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTruTdxDIn6C0wadGP9YbNvsC16qtbc5kwmtw&usqp=CAU" style="width: 16.2rem; width: px;">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Cerrucho</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proximo encargo en: 2 semanas</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div>
  </div>
    
  <div class="col-4" style="background-color: #945F38;">
    <div class="card" style="width: 14rem; margin-left: 200px; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTffSz2EarE-n_YgQH7FlGGaBpLMLm088GErg&usqp=CAU" style="width: 13rem;">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Pinzas</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proximo encargo en: una semana</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div>
  </div>
    
  <div class="col-4" style="background-color: #945F38;">
    <div class="card" style="width: 14rem; margin-left: 100px; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTVvlUXik84xPNPG2p1XmmIcPs-ke4p-Ts8A&usqp=CAU" style="width: 19.5rem;">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Taladro</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proximo encargo en: 4 dias</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div> 
  </div>
    
  <div class="col-4" style="background-color: #945F38;">
    <div class="card" style="width: 14rem; border-color: #945F38;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-2slX3_O7sHBiIzzdcbTlj4UFu9x8hcHZCA&usqp=CAU">
      <div class="card-body" style="background-color: red;">
        <h5 class="card-title" style="color: black;">Espatula</h5>
        <p class="card-text" style="color: black;">Agotado</p>
        <p class="card-text" style="color: black;">Proxima encargo en: una semana</p>
        <a href="#" class="btn btn-primary" style="background-color: #ACACAC; border-color: #ACACAC; color: black; border-radius: 100px;">Descripciòn</a>
      </div>
    </div>
  </div>
  </div>